@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: none;
  font-family: "Poppins", "Courier New", Courier, monospace;
}
/* #C6A969,#597E52 */

body {
  background-color: #ffffec;
}
nav {
  /* background-color: #f1e4c3; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
#nav-info {
  font-size: 1.2rem;
  margin-left: 2rem;
  color: #44446b;
}
.login-value input {
  border: 2px;
  border-radius: 1.2rem;
  height: 2.3rem;
  width: 7rem;
  text-align: center;
  margin-right: 0.5rem;
  background-color: #f1e4c3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.login-value input:focus {
  outline: none;
  border: 1px solid #597e52;
  box-shadow: 0 0 5px #719ece;
}
#loginbtn {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  margin-right: 2rem;
}
#loginbtn:hover {
  cursor: pointer;
  color: #597e52;
}
/* main class:app */

.app {
  max-width: 100rem;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 9rem) auto;
  gap: 1rem;
  width: 75%;
  /* NOTE This creates the fade in/out anumation */
  /* opacity: 0; */
  transition: all 1s;
}
.balance {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: flex-end; */
}
.movments {
  grid-row: 2 / span 3;
  grid-column: 1;
  border-radius: 1rem;
  overflow: scroll;
  margin-right: 2rem;
  background-color: #f1e4c3;
}
.movments__row {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.summary {
  grid-row: 5;
  grid-column: 1;
  display: flex;
  flex-direction: row;
}
.transfer {
  padding-top: 0;
  margin-top: 0;
  grid-row: 2;
  grid-column: 2;
  margin-left: 2rem;
}
.title {
  margin-top: 0;
}
.subtitle {
  margin-top: 0;
  padding-top: 0;
  font-size: 0.7rem;
  padding-left: 1rem;
}
.request {
  grid-row: 3;
  grid-column: 2;
  margin-left: 2rem;
}
.close__account {
  grid-row: 4;
  grid-column: 2;
  margin-left: 2rem;
}
.logout-timer {
  margin-top: 2rem;
  grid-row: 5;
  grid-column: 2;
}

/* form element style */
.operation {
  border-radius: 1rem;
  /* margin-left: 2rem; */
  padding: 1rem;
  width: 28rem;
}
.operation h2 {
  font-size: 1rem;
}
.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}
.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
.operation--loan label {
  grid-column: 1;
  /* grid-template-columns: 2.5fr 1fr 2.5fr; */
}
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  gap: 0.4rem 1rem;
}
.form__input {
  border: 2px;
  border-radius: 1.2rem;
  height: 2.3rem;
  width: 10rem;
  text-align: center;
  /* margin-right: 0.5rem; */
  background-color: #f1e4c3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 0;
  padding-bottom: 0;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}
.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.operation label {
  font-size: 0.8rem;
}
